@* Login page *@
@()

@main("login"){
    @defining(play.core.PlayVersion.current) { version =>
        
    <h2>Login</h2>

    <form method="get" action="/validate">
        Username: <input type="text" name="username"/></input><br>
        Password: <input type="password" name="password"/></input><br>
        <input type="submit"/>
    </form>

    <form method="post" action="/validatePost">
        Username: <input type="text" name="username"/></input><br> 
        Password: <input type="password" name="password"/></input><br>
        <input type="submit"/>
    </form>
    
    
    
    }
    }